.body {
    font-family: Arial, Helvetica, sans-serif;
}
.about {
}
.about__body {
    max-width: 823px;
    margin: 0px auto;
}
.about__header {
    margin: 0 0 65px 0;
}

.about__title {
    margin: 0px 0px 30px 0px;
}
.title {
    font-size: 34px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.title:after {
    content: '';
    position: absolute;
    width: 50px;
    bottom: 0;
    height: 1px;
    left: 50%;
    background-color: #000;
    margin: 0px 0px 0px -25px; 
}

.about__text {
    max-width: 688px;
    color: #868585;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
    margin: 0px auto;
}
.about__row {
    display: flex;
    font-size: 10;
    margin: 0 -15px;
}
.about__column {
    padding: 0 15px;
    flex: 0 33.333%;
}
.item-about {
}
.item-about__icon {
    margin: 0 auto 30px auto;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.item-about__title {
    text-align: center;
    color: #000000;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin: 0 0 35px 0;
    font-weight: 300;
}
.item-about__text {
    text-align: center;
}